<div class="hero-unit">
  <h1>Project Westwired!</h1>
  <p>Mission - Learn something new! Vision - A completely undefined and unknown product</p>
    <a class="btn btn-primary btn-large">
      Start now >
    </a>
  </p>
</div>
<p>
    You've found the home page for the <%= link_to "One Month Rails","http://onemonthrails.com" %>
</p>
<p>
    <%= link_to "Sign Up Now","http://onemonthrails.com" %>
</p>