$font-family: 'Open Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: green;

@import 'bootstrap';

body {
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer {
    margin-top: 50px;
    color: $grayLight;
    a {
        color: $gray;
    }
}